{% trans_default_domain 'FOSUserBundle' %}

<div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4">

        <form action="{{ path('bk_wh_user_resetting_sendemail') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                <label for="username" class="control-label">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" class="form-control" id="username" name="username" required="required"/>
            </div>
            <div class="submit">
                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary"/>
            </div>
        </form>

    </div>

</div>