{% trans_default_domain 'FOSUserBundle' %}

<div class="login-content">

    <div class="lc-block toggled" id="l-forget-password">

        <form action="{{ path('bk_wh_user_resetting_sendemail') }}" method="POST"
              class="fos_user_resetting_request lcb-form">

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" id="username" name="username" required="required"
                           placeholder="Email"/>
                </div>
            </div>

            <button type="submit" id="_submit" name="_submit" class="btn btn-login btn-success btn-float">
                <i class="zmdi zmdi-check"></i>
            </button>

        </form>

        <div class="lcb-navigation">
            <a href="{{ path('bk_wh_user_security_login') }}" data-ma-block="#l-login">
                <i class="zmdi zmdi-long-arrow-right"></i>
                <span>Login</span>
            </a>
        </div>

    </div>

</div>
