{% trans_default_domain 'FOSUserBundle' %}

<div class="login-content">

    <div class="lc-block toggled" id="l-forget-password">

        {% form_theme form '@WHBackendTemplate/Twig/bootstrap_3_layout.html.twig' %}

        {{ form_start(form, { 'action': path('bk_wh_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset lcb-form' } }) }}
        {{ form_widget(form) }}

        <button type="submit" id="_submit" name="_submit" class="btn btn-login btn-success btn-float">
            <i class="zmdi zmdi-check"></i>
        </button>

        {{ form_end(form) }}

    </div>

</div>
