<a href="#" data-ma-action="profile-menu-toggle">
    <div class="sp-pic">
        {% image '@WHBackendTemplateBundle/Resources/public/plugins/material/img/profile.jpg' %}
        <img src="{{ asset_url }}" alt="Example"/>
        {% endimage %}
    </div>

    <div class="sp-info">
        {{ user.username }}
        <i class="zmdi zmdi-caret-down"></i>
    </div>
</a>
