<div class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" src="{{ asset('backend/img/default-avatar.jpg') }}">
        </span>
        <span class="clear">
        <span class="block m-t-xs">
            <strong class="font-bold">{{ user.username }}</strong>
        </span>
    </span>
    </div>
</div>