<div class="nav-header">
    <div class="dropdown profile-element">

        <span>
            <img src="{{ asset ('front/images/default-avatar.png') }}" alt="Example" />
        </span>

        <span class="clear">
        <span class="block m-t-xs">
            <strong class="font-bold">{{ user.username }}</strong>
        </span>
    </span>
    </div>
</div>

